@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400i,700i,900');

.sprite-bandeira_amex:before,
.sprite-bandeira_aura:before,
.sprite-bandeira_bb:before,
.sprite-bandeira_boleto:before,
.sprite-bandeira_bradesco:before,
.sprite-bandeira_diners:before,
.sprite-bandeira_elo:before,
.sprite-bandeira_hipercard:before,
.sprite-bandeira_itau:before,
.sprite-bandeira_master:before,
.sprite-bandeira_visa:before,
.sprite-bandeira_visa_eletron:before,
.sprite-carrinho_mobile:before,
.sprite-facebook_forher:before,
.sprite-facebook_forhim:before,
.sprite-ico-atendimento-mobile:before,
.sprite-ico-login-mobile:before,
.sprite-ico-pedidos-mobile:before,
.sprite-ico-sobre-mobile:before,
.sprite-ico_carrinho:before,
.sprite-ico_medida:before,
.sprite-instagram:before,
.sprite-logo_branco:before,
.sprite-logo_mobile:before,
.sprite-logo_preto:before,
.sprite-logo_sanders:before,
.sprite-logo_vtex:before,
.sprite-menu_mobile:before,
.sprite-selo_digicert:before,
.sprite-selo_ebit:before,
.sprite-seta_next_banner:before,
.sprite-seta_next_carousel:before,
.sprite-seta_prev_banner:before,
.sprite-seta_prev_carousel:before {
  background-image: url('/arquivos/sprite.png');
}

.sprite-bandeira_amex:before,
.sprite-bandeira_aura:before,
.sprite-bandeira_bb:before,
.sprite-bandeira_boleto:before,
.sprite-bandeira_bradesco:before,
.sprite-bandeira_diners:before,
.sprite-bandeira_elo:before,
.sprite-bandeira_hipercard:before,
.sprite-bandeira_itau:before,
.sprite-bandeira_master:before,
.sprite-bandeira_visa:before,
.sprite-bandeira_visa_eletron:before,
.sprite-carrinho_mobile:before,
.sprite-facebook_forher:before,
.sprite-facebook_forhim:before,
.sprite-ico-atendimento-mobile:before,
.sprite-ico-login-mobile:before,
.sprite-ico-pedidos-mobile:before,
.sprite-ico-sobre-mobile:before,
.sprite-ico_carrinho:before,
.sprite-ico_medida:before,
.sprite-instagram:before,
.sprite-logo_branco:before,
.sprite-logo_mobile:before,
.sprite-logo_preto:before,
.sprite-logo_sanders:before,
.sprite-logo_vtex:before,
.sprite-menu_mobile:before,
.sprite-selo_digicert:before,
.sprite-selo_ebit:before,
.sprite-seta_next_banner:before,
.sprite-seta_next_carousel:before,
.sprite-seta_prev_banner:before,
.sprite-seta_prev_carousel:before,
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
}

.reset-row {
	margin-right: 0px;
    margin-left: 0px;
}
.col-reset {
padding-right: 0px;
padding-left: 0px;
}

body {
	font-family: 'Source Sans Pro', sans-serif!important;
    position: relative;
    overflow-x: hidden;
}

body, html {
	font-family: 'Source Sans Pro', sans-serif!important;
    height: 100%;
}

.banner-mobile {
	width: 100%;
	float: right;
	position: relative;
}

#ajaxBusy {
	display: none;
}

li {
	list-style: none!important;
}

.slick-dots li button {
	width: 58px!important;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/fonts/slick.eot');
    src: url('.https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/fonts/slick.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/fonts/slick.ttf') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/fonts/slick.svg') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    z-index: 9;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 64px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev
{
    left: 0px!important;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: ' ';
    width: 17px;
    height: 64px;
    background-image: url('https://i.imgur.com/DMsv7tE.png');
    display: block;
}

[dir='rtl'] .slick-prev:before
{
    content: ' ';
}


[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: ' ';
    width: 17px;
    height: 64px;
    background-image: url('https://i.imgur.com/reAoZfX.png');
    display: block;
}
[dir='rtl'] .slick-next:before
{
    content: ' ';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.banner-mobile .slick-arrow {
    display: none!important;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: ' ';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.destaques-mobile .prateleira-basica li {
	width: 50%;
	padding: 10px;
	margin: 0 auto;
    display: inline-table;
}

.destaques-mobile .prateleira-basica ul {
	padding: 10px;
	width: 100%;
	margin: 0 auto;
    display: inline-table;
}

.banner-mobile .slick-dots li {
width: 16px;
height: 16px;
background: $black-bg;
}

.banner-mobile .slick-dots .slick-active {
width: 58px!important;
}
p {
    margin: 0 0 0;
}
ul {
   padding: 0px; 
}








