/*Header*/
header {
	text-align: center;
	margin: 0 auto;
    width: 100%;
    float: left;
}

.catMenu a:after {
    content: " ";
    width: 9px;
    display: block;
    float: right;
    height: 19px;
    background-image: url("/arquivos/arrowMob.png");
    background-repeat: no-repeat;
}

#menuSobre  a:before {
    content: " ";
    width: 22px;
    display: block;
    float: left;
    height: 22px;
    background-image: url("/arquivos/MobUe.png");
    background-repeat: no-repeat;
    left: 5px;
    position: absolute;
    top: 10px;
}
#menuAtendimento a:before {
    content: " ";
    width: 22px;
    display: block;
    float: left;
    height: 22px;
    background-image: url("/arquivos/MobTel.png");
    background-repeat: no-repeat;
    left: 5px;
    position: absolute;
    top: 10px;
}

#menuMeus a:before {
    content: " ";
    width: 22px;
    display: block;
    float: left;
    height: 22px;
    background-image: url("/arquivos/MobBag.png");
    background-repeat: no-repeat;
    left: 5px;
    position: absolute;
    top: 8px;
}
#menuLogin a:before {
    content: " ";
    width: 22px;
    display: block;
    float: left;
    height: 24px;
    background-image: url("/arquivos/MobLock.png");
    background-repeat: no-repeat;
    left: 5px;
    position: absolute;
    top: 8px;
}

#menuSobre {
 border-top: 4px solid #ffffff;
}

.subcat li {
    background: $black-menu-sub;
    color: #adadad;
}

.subcat li a {
    padding: 10px 15px 10px 20px!important;
}

.subcat {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: #adadad;
}

#menuLogin {
    border-top: 4px solid #ffffff;
    background: $black-bg;
}
.grayBg {
    background: $grayBg; 
    color: #363636!important;
    border-bottom: 1px solid white;
}
.grayBg a {
    color: #363636!important;
}

.catMenu {
	background: $black;
	border-bottom: 1px solid white;
}

.catMenu a {
    padding: 10px 15px 10px 9px!important;
}

.menuPrincipal {
	color: $color-urls!important;
	font-size: 16px!important;
}
header li {
	text-align: left;
}

#cat-header {
	margin-top: -20px;
}

.col-20 {
    width: 20%;
    float: left;
}

.col-20 p {
	color: $color-black;
	font-size: $size-font;
	font-weight: 1!important;
}

.header-1 {
  padding: 5px;
  width: 10%;
  float: left;
}

.header-2 {
    padding: 5px;
    width: 80%;
    float: left;
}

.header-3 {
	padding: 5px;
  width: 10%;
  float: left;
}
.nav .open > a {
    background-color: transparent;
}

.nav .open > a:hover {
    background-color: transparent;
}

.nav .open > a:focus {
    background-color: transparent;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

// #wrapper.toggled {
//     padding-left: 220px;
// }

// #wrapper.toggled #sidebar-wrapper {
//     width: 220px;
// }

// #wrapper.toggled #page-content-wrapper {
//     margin-right: -220px;
//     position: absolute;
// }

.header-2 {
    height: 80px;
}

.toggled {
    .header-2 {
    }

    .hamburger {
        z-index: 99;
        position: absolute;
        left: 220px;
    }

    #page-content-wrapper {
        margin-right: -220px;
        position: absolute;
    }

    #sidebar-wrapper {
        width: 220px;

    }
}
#sidebar-wrapper {
    background: #ffffff;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}


#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}


.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li:before {
    background-color: none;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-nav li:before {
    background-color: none;
}

.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 34px;
    text-decoration: none;
}

.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav .dropdown-menu {
    background-color: #222222;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

.hamburger {
    background: #ffffff;
    border: none;
    display: block;
    height: 30px;
    margin-left: 4px;
    position: absolute;
    top: 1px;
    width: 30px;
    z-index: 999;
}

.hamburger:hover {
    outline: none;
}

.hamburger:focus {
    outline: none;
}

.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    -ms-opacity: 0;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -moz-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    -o-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    display: block;
    -ms-opacity: 1;
    opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    bottom: 0;
}

.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    top: 5px;
}

.hamburger.is-closed .hamb-middle {
    margin-top: -1px;
    top: 50%;
}

.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    bottom: 5px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    -ms-opacity: 0;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -moz-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    -o-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    display: block;
    -ms-opacity: 1;
    opacity: 1;
}


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hamb-bottom, .hamb-middle, .hamb-top {
    background-color: $color-black;
}
header .busca_mobile {
    width: 100%;
    overflow: hidden;
    transition: width .6s;
    position: absolute;
    z-index: 120;
    top: 60px;
    left: 0;
    background-color: #fff;
    height: 54px
}
header #buscar .busca {
    padding: 0 5px;
    margin-top: 7px
}
header #buscar .busca input[type=text] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #9a9a9a;
    padding: 0 30px 0 10px;
    position: relative;
    z-index: 1;
    color: #9a9a9a;
    font-family: 'Source Sans Pro';
    font-size: 13px
}
header  #buscar .btn-buscar {
    border: 0!important;
    width: 24px;
    height: 24px;
    cursor: pointer!important;
    position: absolute!important;
    z-index: 2!important;
    top: 15px!important;
    right: 5%!important;
    background: url('/arquivos/btn_busca_mobile.png') left top no-repeat!important;
    overflow: hidden!important;
    text-indent: -1000px!important
}

#buscar legend {
    display: none;
}
#buscar select {
    display: none;
}

#buscar label {
    display: none;
}

.ui-autocomplete {
  position: absolute;
  z-index: 10!important;
  font-family: Arial;
  top: 200px!important;
}

.ui-autocomplete li {
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
}

.ui-autocomplete li:first-child {
  border-top: 0;
  padding: 0;
}

.ui-autocomplete li a {
  font-size: 14px;
  color: #5d5d5d;
  padding: 5px 10px;
  height: 41px;
  line-height: 35px;
  display: block;
  transition: background linear .2s;
}

.ui-autocomplete li a:hover {
  cursor: pointer;
  background: #ebebeb
}

.ui-autocomplete li a img {
  padding: 0 5px 0 0;
  vertical-align: middle
}



